@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  background-image: url("./MYND Fitness Logo Visuals_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 160vh;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

#container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.formwrap {
  background-color: transparent;
  padding: 15px 25px;
  color: forestgreen;
  border-top: 4px solid;
  border-radius: 05px;
}

.formwrap h1,
.formwrap p {
  text-align: center;
}

.formwrap .form-group {
  margin-top: 15px;
}

.formwrap .form-group label {
  display: block;
  color: slateblue;
}

.formwrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-family: "poppins";
}

.formwrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  color: forestgreen;
  cursor: pointer;
  border: 1px solid forestgreen;
  font-family: "poppins";
  font-size: 15px;
  transition: 1s;
}

.formwrap button:hover {
  background-color: forestgreen;
  transition: 1s;
}

.formwrap .button-text {
  font-size: 13px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
  color: forestgreen;
}

footer a {
  color: white;
}
